apiVersion: v1
kind: Config
clusters:
  - name: ${cluster}
    cluster:
      certificate-authority-data: ${cluster_ca}
      server: ${server}
contexts:
  - name: ${user}@${cluster}/${namespace}
    context:
      cluster: ${cluster}
      namespace: ${namespace}
      user: ${user}
current-context: ${user}@${cluster}/${namespace}
users:
  - name: ${user}
    user:
      client-certificate-data: ${client_cert}
      client-key-data: ${client_key}
